.connect4-board {
    margin: 0 auto;
    border: black 6px solid;
    border-radius: 12px;
    width: 42rem;
    height: 36rem;
    display: grid;
    margin-top: 2rem;
    justify-content: center;
    grid-template-columns: repeat(7, 6rem);
}