.tile {
    border: black 2px solid;
    font-size: 5rem;
    background-color: aliceblue;
    line-height: 5rem;
}

.tile:hover {
    background-color: rgba(255, 255, 255, .9);
}



.X {
    position: relative;
    font-weight: bolder;
    padding: 0;
    color: red;
}

.O {
    position: relative;
    font-size: 5rem;
    color: green;
    line-height: 5rem;

}

span {
    height: 100%;
    width: 100%;
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    text-align: center;
    vertical-align: center;
}