.connect4-board {
    margin: 0 auto;

    border-radius: 12px;
    width: 28rem;
    height: 24em;
    display: grid;
    margin-top: 2rem;
    justify-content: center;
    grid-template-columns: repeat(7, 4rem);
}